.wrapper {
  margin: 50px auto;
  max-width: 1200px;
  padding: 20px;

    min-width: 0 !important;
    max-width: 900px !important;
  
}

.header {
  
    display: block !important;
    position: fixed !important;
    z-index: 99 !important;
    height: 28px !important;
    overflow: visible !important;
    border-top: 1px solid #999 !important;
    border-bottom: 1px solid #000 !important;
    background-color: #cedff2;

}
.title {
  font: 300 112px/110px "atrament", "proxima-nova", Helvetica, sans-serif;
}

.content {
   
    width: 60% !important;
    min-width: 650px !important;
    max-width: 1260px !important;
    margin: 80px auto 24px auto !important;
    padding: 2.25em 1.5em 1.5em !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #444;
    border-radius: 7px !important;
    z-index: auto !important;
  
}

nav {
  float: left;
  width: 15%;
  display: block !important;
    position: fixed !important;
    top: 0 !important;
    z-index: 101 !important;
    width: 100% !important;
    height: 1px !important;
    overflow: visible !important;
    margin: 0 !important;
    padding: 0 !important;
     left: 6% !important;
    right: auto !important;
    top: 5px !important;
    z-index: 555 !important;
    margin: 0 !important;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

html { 
  font-size: 90%; 
  background: #eed;
}

* {
  box-sizing: 90%;
}

body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue", Sans-Serif;
  font: 85% / 2;
  background-color: #ffff00;
}

a {
  color: #000000;
}

section:not(:last-of-type) {
  margin-bottom: 2em;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

h1, .as-h1 {
  font-size: 2em;
  margin: 0 0 20px;
}

pre {
  background-color: #27d141;
  border: 3px solid rgba(0, 0, 0, 0.1);
  padding: 200px;
  overflow: auto;
}
.active {
    background-color: #FFFFFF;
    color: black;
}
ul {
    list-style-type: none;
    margin: 1px;
    padding: 20px;
    width: 250px;
    background-color: #EFEFEF;
}

li a {
    display: block;
    color: #fcfcfc;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
